/software_renderer2/Debug
/Debug
/software_renderer2.opensdf
/software_renderer2.sdf
/software_renderer2.v11.suo
/Release
/software_renderer2/Release
/software_renderer2/dependent/freeimage/FreeImage.lib
/software_renderer2/dependent/freeimage/FreeImaged.lib
/test/FreeImage.dll
/test/FreeImaged.dll
/.vs/software_renderer2/v15
